.article-body {
  margin:20px 142px;
  padding: 42px;
  height: auto;
  width: auto;
}

.article-body img {
  width: auto;
  background-color: rgb(203, 212, 217);
  padding: 15px;
  height: 400px;
  margin: 42px;
}

.video-player {
  height: 100%;
  width: 100%;
  padding: 32px;
}

.text-video-player {
  padding: 50px;
  height: auto;
  width: auto;
  margin: 10px;
}

.footer-article{
  display: flex;
  flex-direction: column;
  align-items: center;
 font-size: 16px;
 margin-top: 32px;
 
}
.footer-article,p{
  margin: 0%;
  padding: 0%;
}

@media screen and (max-width: 600px) {
  .article-body {
    font-size: 30px;
    height: 100px;
    padding: 0%;
    width: auto;
    margin: 5px;
  }
  img {
    height: 200px;
    width: auto;
  }
  .video-player {
    height: 600px;
    width: auto;
    margin: 10px;
    font-size: 22px;
  }
  .list-apis {
    width: auto;
    height: auto;
    margin-top: 150px;
  }
  .footer-article{
    margin-top: 22px;
  }
}
